nav ul {
  display: flex;
  gap: var(--esp-2);
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: var(--esp-1) var(--esp-2);
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: var(--cor-secundaria);
}

/* Dropdown */
nav li {
  position: relative;
}

nav li ul {
  display: none;
  position: absolute;
  background-color: var(--cor-primaria);
  top: 100%;
  left: 0;
  list-style: none;
  padding: var(--esp-1);
}

nav li:hover ul {
  display: block;
}

/* Menu Mobile */
.menu-toggle {
  display: none;
  font-size: var(--fs-5);
  cursor: pointer;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav.active ul {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
